<ul>
{{# each items}}
    <li id="question-{{{this.question_id}}}">
      <a href="{{this.link}}" target="_blank">{{{this.title}}}</a>
      [{{# each this.tags}}{{{this}}}{{#unless @last}}, {{/unless}}{{/each}}]
      <a href="#" data-questionid="{{{this.question_id}}}" class="js-question-show-more">Show more</a>
      <a href="#" class="js-question-show-less" style="display: none">Show less</a>
    </li>
  {{/each}}
<br>
</ul>
